# Copernicus Data Space Ecosystem API Credentials
COPERNICUS_USERNAME=your_username
COPERNICUS_PASSWORD=your_password

# Weights & Biases Experiment Tracking
WANDB_API_KEY=your_wandb_api_key
WANDB_PROJECT=sharpearth-srm

# Serving Environment
FASTAPI_ENV=development
FASTAPI_PORT=8000
TITILER_HOST=http://localhost:8000
